env/
node_modules/
__pycache__/
backend/model_cache/
backend/__pycache__/
backend/files/
backend/.env
backend/uploads/
backend/zipped_results/
backend/splits_output.csv
backend/data/syn_db.json
file_chunks.sqlite